<div class="container">
  <div class="row">
    <% @tasks.each_slice(4) do |row| %>
      <% row.each do |task| %>
        <div class="col"
          <div class="card">
            <%= image_tag task.photo, class: 'card-img-top' %>
            <div class="body">
            <h5> <%= link_to task.name, task_show_path(task), method: :post %></h5>
            
           
              <% if !task.user_tasks.where(user: current_user).first.nil? %>
                <%= link_to "Hecha", task_remove_user_path(task), method: :delete, class: 'btn btn-danger' %>
              <% else %>
                <%= link_to "Hacer", task_add_user_path(task), method: :post, class: 'btn btn-success' %>
              <% end %>

            
          </div>
        </div>  
      <% end %>
      <div class="w-100" style="margin-top:20px"></div>
    <% end %>
  </div>
</div>




